In [52]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('adult.data.csv')

In [ ]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [55]:
df.race.value_counts().tolist()

[27816, 3124, 1039, 311, 271]

In [ ]:
df.age[df['sex'] == 'Male'].mean()

39.43354749885268

In [ ]:
df.education[df['education'] == 'Bachelors'].count() / df.education.count()

0.16446055096587942

In [ ]:
df['hours-per-week'].sort_values()

19750     1
25078     1
11451     1
8447      1
32525     1
         ..
25806    99
30610    99
10143    99
4308     99
1887     99
Name: hours-per-week, Length: 32561, dtype: int64

In [ ]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [ ]:
higher_education = df.education[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df.education[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [ ]:
higher_education_rich = round(higher_education[df['salary'] == '>50K'].count() / higher_education.count() * 100, 1)
lower_education_rich = lower_education[df['salary'] == '>50K'].count()
higher_education_rich, lower_education_rich

(46.5, 4355)

In [ ]:
num_min_workers = df['hours-per-week'][df['hours-per-week'] == min_work_hours]
rich_percentage = num_min_workers[df['salary'] == '>50K'].count() / num_min_workers.count() * 100
rich_percentage

10.0

In [ ]:
group = df.groupby(['native-country', 'salary']).size()
rich_group = group.loc[:, '>50K']
highest_earning_country_percentage = round(rich_group / group.sum(level='native-country') * 100, 1)
highest_earning_country = highest_earning_country_percentage.idxmax()
highest_earning_country

'Iran'

In [ ]:
a = df[df['native-country'] == 'India' and df['salary'] == '>50K']
a
#b = a[a['salary'] == '>50K']
#c = b.groupby('occupation').size()
#c.idxmax()

ValueError: ignored