In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [6]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [7]:
df.age[df['sex'] == 'Male'].mean()

39.43354749885268

In [27]:
df.education[df['education'] == 'Bachelors'].count() / df.education.count()

0.16446055096587942

In [37]:
df['hours-per-week'].sort_values()

19750     1
25078     1
11451     1
8447      1
32525     1
         ..
25806    99
30610    99
10143    99
4308     99
1887     99
Name: hours-per-week, Length: 32561, dtype: int64

In [36]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [52]:
higher_education = df.education[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df.education[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [56]:
higher_education_rich = round(higher_education[df['salary'] == '>50K'].count() / higher_education.count() * 100, 1)
lower_education_rich = lower_education[df['salary'] == '>50K'].count()
higher_education_rich, lower_education_rich

(46.5, 4355)